@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize the scrollbar container */
::-webkit-scrollbar {
    width: 10px; 
    height: 10px;
  }
  
  /* Customize the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #DAFFFB;
    border-radius: 5px;
  }
  
  /* Customize the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: #001C30;
    border-radius: 5px;
    border: 2px solid #f1f1f1;
  }
  
  /* Hover effect for the thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #002037;
  }

  .btn:hover {
    cursor: pointer;
    animation: jelly 0.5s;
  }
  
  @keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }

  @keyframes slideInRight {
    0% {
      transform: translateX(-20%);
      opacity: 0;
    }
    50% {
      transform: translateX(-10%);
      opacity: 0.1;
    }
    70% {
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in-right {
    animation: slideInRight 0.5s linear;
  }

  @keyframes bars {
    0% {
      transform: translateX(-90%);
    }
    25% {
      transform: translateX(-60%);
    }
    50% {
      transform: translateX(-30%);
    }
    75% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .bar {
    animation: bars 0.5s linear;
  }

  
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 15s linear infinite;
  }
  
  .group:hover {
    animation-play-state: paused;
  }

  .rotate-counter {
    transform: rotate(-360deg);
    animation: spin-counter 10s linear infinite;
  }
  
  @keyframes spin-counter {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }